.header {
  background-color: #eee;
  header {
    position: relative;
    height: 100px;
  }  
  i.fas {  
    background-color: #672328;
    color: #fff;
    width: 31px;
    height: 31px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
  }
}
.form {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  background-color: #fff;  
  z-index: 1;
}
.lista-facturas li {
  background-color: #eee;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  margin: 10px 0;
  font-size: 0.82rem;
  @media (min-width: 992px) {
      font-size: 1rem;
  }
}
p {
    font-size: 0.82rem;
    @media (min-width: 992px) {
        font-size: 1rem;
    }
}
.balance .positivo {
  color: #060;
}
.balance .negativo {
  color: #600;
}